[data-testid="stColorPicker"] > div > div {
  width: 8.5rem;
  height: 4rem;
}

[data-testid="stColorPicker"] > div {
  height: 4rem;
}

.main * div.row-widget.stRadio > div {
  flex-direction: row;
}
