[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
streamlit = {path = "./streamlit-0.79.0-py2.py3-none-any.whl"}
colorthief = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
